.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 166px;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 35px;
      margin: 0;
      padding: 0;
    }
    .item {
      list-style-type: none;
      margin-left: 35px;
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        color: $black;
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;

      span {
        margin-left: 20px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $black;
        text-transform: uppercase;
      }
    }
    .state {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: block;
        background-image: url(../images/dest/Polygon.png);
        width: 45px;
        height: 17px;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        color: $white;
        font-size: 12px;
        margin-left: 20px;
      }
      img {
        width: 30px;
        height: 30px;
        margin-left: 20px;
      }
    }
  }
  &__product {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;

    .count {
      p {
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        margin-bottom: 35px;
      }
      h1 {
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 55px;
      }
      a {
        max-width: 240px;
        width: 100% auto;
        padding: 10px 0;
        text-align: center;
        color: $white;
      }
    }
    .info {
      display: block;
      position: relative;
    }
    .pay {
      position: absolute;
      right: 0;
      strike {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
      }
      p {
        color: $purpul;
        font-weight: bold;
        font-size: 42px;
        text-transform: uppercase;
      }
    }
  }
}
